@font-face {
	font-family: 'Datalegreya-Thin';
	src: url('/uploads/Datalegreya-Thin.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Datalegreya-Gradient';
	src: url('/uploads/Datalegreya-Gradient.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Datalegreya-Dot';
	src: url('/uploads/Datalegreya-Dot.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
	-moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
	-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
	-ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
	font-feature-settings: "kern" on, "liga" on, "calt" on;
	font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hero-lead {
    max-width: 1268px;
    font-size: 1rem;
}

/* aligns the default title wrapper to the left of the page */
.universal-wrapper h1 {
    text-align: left;
}

/* adding top padding to improve spacing when social icons included in about us page */
.people-widget .avatar {
    width: 80%;
    max-width: 150px;
    height: auto;
    padding-top: 30px;
}

/* increase font size of author's role title*/
.people-widget .portrait-title h3 {
    font-size: .9rem;
}